/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: black;
  height: 100vh;
  font-family: sans-serif;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
}


.page {
  display: flex;
  color: red;
}

.page_body {
  margin-top: 75px
}
